/* stylesheet */

* {
    background-color: aliceblue;
    color: rgb(0, 90, 120);
    font-family: sans-serif;
    padding: 10px;
    border: 2px;
    margin: 10px;

    /* to show the border and boxes
    border: 2px solid red;
    */

    /*width: 70%;*/

    /* to center every item
    text-align: center;
    align-items: center;
    */
}
p {
    padding-left: 5em;
}

img {

    /* to scale pictures with a specified width */
    height: auto;
    width: 500px;

    /* to center picture
    display: block;

    margin-left: auto;
    margin-right: auto;
    */
}

.lists {
    padding: 3px;
    border: 0px;
    margin: 0px;

    padding-left: 5em;
}

